@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  max-width: 100% ;
  margin: 0 auto;
  padding: 0;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: black;
  font: inherit;
  /* font-semibold leading-6 */
  /* transition: 0.4s; */
  /* essa cor está mudando o faça o teste  */
}

@media (min-width: 1024px) {
  body {
    display: 0;
    /* place-items: left; */
  }

  #app {
    padding: 0 2rem;
  }
}
